{% extends "base.jinja" %} 
{% block title %}Page Not Found{% endblock %} 
{% block main %}
<div class="page-header">
    <h2 class="not-Found">{{e}} :(</h2>
</div>
{% endblock %}
{% block footer %}
    <footer class="footer"><p>ALL RIGHTS RESERVED 2020 &copy;</p></footer>
{% endblock %}