{% extends "base.jinja" %}
{% block title %}GUIE{% endblock %} 
{% block main %}
<center>
<spam>
Antes de nada, revisar: https://github.com/sespinosav/pythonPROYECTS y leer el README.md
</spam>
<spam>

</spam>
</center>
{% endblock %}
