{% extends "base.jinja" %}
{% block title %}GUIE{% endblock %} 
{% block main %}
<div class="container">
<center>
</br>
<h2 class="text-main session container center-text"> ENJOY NUMERICAL APP</h2>
</br>

<p>
Antes de nada, revisar el <a href="https://github.com/sespinosav/pythonPROYECTS"  target="_blank">repositorio</a> y leer el README.md.


Descarga el manual de usario en <a href="https://github.com/sespinosav/pythonPROYECTS/blob/master/analisis_numerico/documentation/Manual%20de%20Usuario.docx"  target="_blank">manual</a>.


Esta aplicación está diseñada para acercar al usuario a los métodos númericos y en caso de conocerlos servir como herramienta para resolver ejercicios computacionales


cuenta con el apartado de métodos númericos, en el cual se deben ingresar las matrices y arreglos en formato python, para los arreglos b, se aceptan tanto vectores fila, como vectores columna.


En los métodos que requieran funciones es prescindible tener en cuenta que estás deben ser diligenciadas en formato python y que se pueden utlizar todas las funciones del modulo <a href="https://www.programiz.com/python-programming/modules/math"> math </a>

Funciones mas usadas: pi, e, log, cos, tan, log10, exp, pow, sqrt, acos

</br></br>
Ejemplos de funciones: x**3*e, log(x)+tan(X), log((sin(x))**2+1)-(1/2)

</br></br>

En el apartado de conversor se pueden transformar números de cualquier base a otra en el rango de 2 a 10 incluyendo números flotantes, los números deben ser ingresados separados por "."


En la seccion de crear matrices se pueden formar matrices en formato python para ser utilizadas con los métodos que las precisen 
</p>
</center>
</div>

</br>
<h4 class="text-main session container center-text">CHOICE STYLE OF PAGE</h4>
<form class="table-session session container" method="POST">
<center><select style="width:500px" class="text-box" name="css" id="cars">
                <option value="barona style">barona style</option>
                <option value="black style">balck style</option>
        </select>
</center>
        <div class="label-main">
            <input type="submit" value="Change" class="boton container">
        </div>
</form>
{% endblock %}
