{% extends "base.jinja" %}
{% block title %}GUIE{% endblock %} 
{% block main %}
<center>
</br>
<h2 class="text-main session container center-text"> ENJOY NUMERICAL APP</h2>
</br>
<p>
Antes de nada, revisar el <a href="https://github.com/sespinosav/pythonPROYECTS"  target="_blank">repositorio</a> y leer el README.md
</p>
<p>
Descarga el manual de usario en <a href="https://github.com/sespinosav/pythonPROYECTS/blob/master/analisis_numerico/documentation/Manual%20de%20Usuario.docx"  target="_blank">manual</a>
</p>
<p>
Esta aplicación está diseñada para acercar al usuario a los métodos númericos y en caso de conocerlos servir como herramienta para resolver ejercicios computacionales
</p>
<p>
Cuenta con el apartado de métodos númericos, en el cual se deben ingresar sin tildes y bien escritos los métodos que se desean ejecutar,
</p>
<p>
En los métodos que requieran funciones es prescindible tener en cuenta que estás deben ser diligenciadas en formato python y que se pueden utlizar todas las funciones del modulo math
</p>
<p>
Ejemplos de funciones: x**3*e, log(x)+tan(X), log((sin(x))**2+1)-(1/2)
</p>
<p>
En el apartado de conversor se pueden transformar números de cualquier base a otra en el rango de 2 a 10 incluyendo números flotantes
</p>
<p>
En la seccion de crear matrices se pueden formar matrices en formato python para ser utilizadas con los métodos que las precisen, los números deben ser ingresados separados por "."
</p>
<p>
<h4 class="text-main session container center-text">MÉTODOS DISPONIBLES</h4></br>
busquedas incrementales</br>
biseccion</br>
regla falsa</br>
secante</br>
newton</br>
punto fijo</br>
raices multiples</br>
eliminacion gaussiana simple</br>
eliminacion gaussiana con pivoteo parcial</br>
eliminacion gaussiana con pivoteo total</br>
lu simple</br>
lu parcial</br>
crout</br>
doolittle</br>
cholesky</br>
jacobi</br>
gauss seidel</br>
sor</br>
vandermonde</br>
interpolante de newton sin diferencias</br>
interpolante de newton</br>
lagrange</br>
trazadores lineales</br>
trazadores cuadraticos</br>
trazadores cubicos</br>
</p>

</center>
{% endblock %}
